.app-container {
  padding: 20px;
}
/* 应用桌面样式*/
.innerDesktop {
  width: 100%;
  height: 100%;
  position: relative;
}
/* 应用主样式*/
.desktopIcon {
  width: 86px;
  height: 88px;
  cursor: pointer;
  text-align: center;
}
/* 应用主样式*/
.desktopIcon:hover {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFYAAABYCAYAAABvXACHAAABlklEQVR42u3dPWoCQRyGcTcrgZgEC0HcFDbCFilT7QE8Ro7hMTySB7BKaZHSZnXBUtciYmYIQki5YrHk98DgR/ny8vxnppmkExgMBnn4eA1r2ME1VGGtdrvdZzeE+jaZTIrpdPowGo1S2TRns9k8LxaLl/D1KQnBvs9msyxN06+qqg7iac5wOOydTqfufD4vu+F3L5Cs1+vDOSCe5my328N4PO7HTO/EcRsEK9h2ER3biWq9LFzHJUON1ViNhWBvrILfOoDGGl6GF6iACqgAGquxDggaa1fAsf/asYI1vKhAYzVWYzUWDghUQAXQWI3VWLgroAL7WPxBYw0vw0uwVEAF7VSBXYFdARUYXtBY+1jBUgEVaCwcEKiACqCxGquxcG14c6iACgwvaKzGaqzGuuimgtaqwAHBAcHw4lhorMZCsFRABXBA4FjBwvAyvDQWGmt4tVkF+7qu+1mWPZRlWYukOTHDkGV0wT4Gu1oul/2iKB7zPL8XT3OOx+M5ZLmPmSbxj/jSZ+fn+dSeeK4iPuYZn0/9+AYYs/qugpwusAAAAABJRU5ErkJggg==") no-repeat center center;
}
/* 应用图标主样式*/
.desktopIcon .icon {
  width: 50px;
  height: 50px;
  margin: 5px auto;
  outline: none;
  -moz-user-select: none;
  position: relative;
}
/* 应用图标样式*/
.desktopIcon span {
  display: block;
}
/* 应用图标样式*/
.desktopIcon .icon img {
  width: 50px;
  height: 50px;
}
/* 应用名字主样式*/
.desktopIcon .text {
  display: inline-block;
  width: auto;
  height: 22px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  background: url($IconTextBg) no-repeat left center;
  position: relative;
  padding-left: 10px;
  margin-right: 10px;
  outline: none;
  -moz-user-select: none;
  font-size: 12px;
}
/* 应用名字样式*/
.desktopIcon s {
  display: inline-block;
  width: 10px;
  height: 22px;
  position: absolute;
  right: -10px;
  top: 0;
  background: url($IconTextBgRight) left center no-repeat;
}

/* 应用名字样式*/
.desktopIcon .text span {
  width: 100%;
  height: 22px;
  overflow: hidden;
}
/* 任务栏样式*/
.vl-notify-task {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAXCAYAAABJXhw0AAABRUlEQVR42u3TUUuDUBQH8PNpepJVzlwuDTEnJPoiDba22F5qzkFCgik0SXB+7na2Llgo233Ybjf2cLg//xz/cB8uAMDZP5nTRU4XOci0Wq0r8iEIgkTMYb4NRFHs1Lndbl/TmFXP5iKyLHdJoCgKlav/Mu1RVVUjgaZpt7tc3W8yo55tYBiGzrM3F+n1encksCzL3OWmfaY9tm1bJODc28BxnPs6u65r05hVDz72c9/3+3h++6HifoP/3A4EQTDQdf0Cp8mLxWJIk7PoAdM0L3HCMBxX/LSHx3v4aD2wfv1iFEVTPHk2xHH8vH40Eg7PBs/zJJwkSebEaZoGdXmTm/aP2QPDwUBeLpeveFI4pNw/eA9kWfY2Gj12cH45ojTTHphOJgpOnufvPBtms5duURQfePJsKMsyn/v+Dc4Pr1afVGbc8wVKPsFj35kLRQAAAABJRU5ErkJggg==");
  width: 100%;
  height: 45px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 66666666666;
}

.bg-white{
  background-color:#fff;
}
.bg-blue{
  background-color:$BgBlue;
}
.bg-success{
  background-color:$BgSuccess;
}
.bg-warning{
  background-color:$BgWarning;
}
.bg-danger{
  background-color:$BgDanger;
}
.app-container.calendar-list-container{
  overflow: auto;
  width: 100%;
  background-image: url($BackGroundImg);
  background-size: cover;
}
.el-row{
  height: 100%;
}
.el-row .el-col{
  height: 100%;
}
.el-card{
  height: 100%;
}
.org-tree-left{
  width: 230px;
}
.org-tree-left .el-card{
  background-image:url($TreeBg);
  /* 背景图片不重复显示*/
  background-repeat: no-repeat;
  /* 背景图片横向及纵向重复*/
  /*background-repeat: repeat;*/
  /*背景图片横向重复*/
  /*background-repeat: repeat-x;*/
  /*背景图片纵向重复*/
  /*background-repeat: repeat-y;*/
  /*固定背景图片*/
  /*background-attachment: fixed;*/
  /*滚动背景图片*/
  /*background-attachment: scroll;*/
  /*背景图片在横向的最左方显示*/
  /*background-position-x: left;*/
  /*背景图片在横向的最右方显示*/
  background-position-x: center;
  /*背景图片在纵向的最上方显示*/
  /*background-position-y: top;*/
  /*背景图片在纵向的最下方显示*/
  background-position-y: bottom;
}
.org-tree-left .el-card{
  overflow: auto;
}
.hover:hover{
  cursor: pointer;
}
.tabs-dialog .el-dialog__body{
  padding: 0;
}
.tabs-dialog .el-dialog__header {
  padding: 0;
}
.tabs-dialog .el-dialog__header button{
  z-index: 6;
  top: 10px;
}
.el-tabs{
  border-radius: 5px;
}
input::-webkit-input-placeholder{
  color: #b2b6bd;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:#b2b6bd;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:#b2b6bd;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color:#b2b6bd;
}




