//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

$BgWarning:#e6a23c;
$BgSuccess:#67c23a;
$BgDanger:#f56c6c;
$BgBlue:#409eff;
$TreeBg:'../static/img/treeBg.png';// 权限筛选背景 弃用

$IconTextBg: '../static/img/iconTextbg.png';// 应用名字背景图片 左
$IconTextBgRight:'../static/img/iconTextbg_right.png';// 应用名字背景图片 右
$TaskDesk:'../static/img/bg_task_b.png';// 任务栏背景
$dock_l:'../static/img/dock_l.png';// 左侧常用工具背景
$default_appbtn_bg:'../static/img/default_appbtn_bg.png';// 应用鼠标移入背景
$tixing:'../static/img/tixing.png';// 应用提示消息背景
$start_btn:'../static/img/start-btn.png';// 开始按钮背景
$start_item_bg:'../static/img/start_item_bg.png';// 开始菜单背景
$start_item_over:'../static/img/start_item_over.png';// 开始菜单鼠标移入背景
$item_child:'../static/img/item-child.png';// 开始菜单程序有子集的三角形
$navbarBtn:'../static/img/navbarBtn.png';//
$navbarMidbg:'../static/img/navbarMidbg.png';//
$navbarbg:'../static/img/navbarbg.png';//
$BackGroundImg_1:'../static/img/wallpaper.jpg';// 背景图片


$DesktopBg_01_0:'../static/bg/01/wallpaper.jpg';// 背景图片
$DesktopBg_01_00:'../static/bg/01/backgroundImg.png';// 背景图片
$DesktopBg_01_1:'../static/bg/01/1.jpg';// 背景图片
$DesktopBg_01_2:'../static/bg/01/2.jpg';// 背景图片
$DesktopBg_01_3:'../static/bg/01/3.jpg';// 背景图片
$DesktopBg_01_4:'../static/bg/01/4.jpg';// 背景图片
$DesktopBg_01_5:'../static/bg/01/5.jpg';// 背景图片
$DesktopBg_01_6:'../static/bg/01/6.jpg';// 背景图片
$DesktopBg_01_7:'../static/bg/01/7.jpg';// 背景图片
$DesktopBg_01_8:'../static/bg/01/8.jpg';// 背景图片
$DesktopBg_01_9:'../static/bg/01/9.jpg';// 背景图片
$DesktopBg_01_10:'../static/bg/01/10.jpg';// 背景图片
$DesktopBg_01_11:'../static/bg/01/11.jpg';// 背景图片
$DesktopBg_01_12:'../static/bg/01/12.jpg';// 背景图片
$DesktopBg_01_13:'../static/bg/01/13.jpg';// 背景图片
$DesktopBg_01_14:'../static/bg/01/14.jpg';// 背景图片
$DesktopBg_01_15:'../static/bg/01/15.jpg';// 背景图片
$DesktopBg_01_16:'../static/bg/01/16.jpg';// 背景图片
$DesktopBg_01_17:'../static/bg/01/17.jpg';// 背景图片
$DesktopBg_01_18:'../static/bg/01/18.jpg';// 背景图片
$DesktopBg_01_19:'../static/bg/01/19.jpg';// 背景图片
$DesktopBg_01_20:'../static/bg/01/20.jpg';// 背景图片
$DesktopBg_02_1:'../static/bg/02/1.jpg';// 背景图片
$DesktopBg_02_2:'../static/bg/02/2.jpg';// 背景图片
$DesktopBg_02_3:'../static/bg/02/3.jpg';// 背景图片
$DesktopBg_02_4:'../static/bg/02/4.jpg';// 背景图片
$DesktopBg_02_5:'../static/bg/02/5.jpg';// 背景图片
$DesktopBg_02_6:'../static/bg/02/6.jpg';// 背景图片
$DesktopBg_02_7:'../static/bg/02/7.jpg';// 背景图片
$DesktopBg_02_8:'../static/bg/02/8.jpg';// 背景图片
$DesktopBg_02_9:'../static/bg/02/9.jpg';// 背景图片
$DesktopBg_02_10:'../static/bg/02/10.jpg';// 背景图片
$DesktopBg_02_11:'../static/bg/02/11.jpg';// 背景图片
$DesktopBg_02_12:'../static/bg/02/12.jpg';// 背景图片
$DesktopBg_02_13:'../static/bg/02/13.jpg';// 背景图片
$DesktopBg_02_14:'../static/bg/02/14.jpg';// 背景图片
$DesktopBg_02_15:'../static/bg/02/15.jpg';// 背景图片
$DesktopBg_02_16:'../static/bg/02/16.jpg';// 背景图片
$DesktopBg_02_17:'../static/bg/02/17.jpg';// 背景图片
$DesktopBg_02_18:'../static/bg/02/18.jpg';// 背景图片
$DesktopBg_02_19:'../static/bg/02/19.jpg';// 背景图片
$DesktopBg_02_20:'../static/bg/02/20.jpg';// 背景图片
$DesktopBg_03_1:'../static/bg/03/1.jpg';// 背景图片
$DesktopBg_03_2:'../static/bg/03/2.jpg';// 背景图片
$DesktopBg_03_3:'../static/bg/03/3.jpg';// 背景图片
$DesktopBg_03_4:'../static/bg/03/4.jpg';// 背景图片
$DesktopBg_03_5:'../static/bg/03/5.jpg';// 背景图片
$DesktopBg_03_6:'../static/bg/03/6.jpg';// 背景图片
$DesktopBg_03_7:'../static/bg/03/7.jpg';// 背景图片
$DesktopBg_03_8:'../static/bg/03/8.jpg';// 背景图片
$DesktopBg_03_9:'../static/bg/03/9.jpg';// 背景图片
$DesktopBg_03_10:'../static/bg/03/10.jpg';// 背景图片
$DesktopBg_03_11:'../static/bg/03/11.jpg';// 背景图片
$DesktopBg_03_12:'../static/bg/03/12.jpg';// 背景图片
$DesktopBg_03_13:'../static/bg/03/13.jpg';// 背景图片
$DesktopBg_03_14:'../static/bg/03/14.jpg';// 背景图片
$DesktopBg_03_15:'../static/bg/03/15.jpg';// 背景图片
$DesktopBg_03_16:'../static/bg/03/16.jpg';// 背景图片
$DesktopBg_03_17:'../static/bg/03/17.jpg';// 背景图片
$DesktopBg_03_18:'../static/bg/03/18.jpg';// 背景图片
$DesktopBg_03_19:'../static/bg/03/19.jpg';// 背景图片
$DesktopBg_03_20:'../static/bg/03/20.jpg';// 背景图片
