//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

$BgWarning:#e6a23c;
$BgSuccess:#67c23a;
$BgDanger:#f56c6c;
$BgBlue:#409eff;

$BackGroundImg:'../static/img/backgroundImg.png';
$TreeBg:'../static/img/treeBg.png';
