//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

$BgWarning:#e6a23c;
$BgSuccess:#67c23a;
$BgDanger:#f56c6c;
$BgBlue:#409eff;
$TreeBg:'../static/img/treeBg.png';// 权限筛选背景 弃用

$BackGroundImg:'../static/img/wallpaper.jpg';// 背景图片
$IconTextBg: '../static/img/iconTextbg.png';// 应用名字背景图片 左
$IconTextBgRight:'../static/img/iconTextbg_right.png';// 应用名字背景图片 右
$TaskDesk:'../static/img/bg_task_b.png';// 任务栏背景
$dock_l:'../static/img/dock_l.png';// 左侧常用工具背景
$default_appbtn_bg:'../static/img/default_appbtn_bg.png';// 应用鼠标移入背景
$tixing:'../static/img/tixing.png';// 应用提示消息背景
$start_btn:'../static/img/start-btn.png';// 开始按钮背景
$start_item_bg:'../static/img/start_item_bg.png';// 开始菜单背景
$start_item_over:'../static/img/start_item_over.png';// 开始菜单鼠标移入背景
$item_child:'../static/img/item-child.png';// 开始菜单程序有子集的三角形
